{% extends 'base_chirho.html'%}

{% load static %}

{% block body_chirho%}
    <div class="text-center">
        <div><h1 style="color: #043253;"><b>Acerca de mí</b></h1></div>
        <div><h4 style="color: rgb(252, 116, 6);"><b>Email:</b></h4></div>
        <div><h6>Edgarrodas_97@hotmail.com</h6></div>
        <br>
        <hr id="hr_chirho">
        <div><h4 style="color: rgb(252, 116, 6);"><b>Profesión:</b></h4></div>
        <div><h6>Programador Junior</h6></div>
        <br>
        <hr id="hr_chirho">
        <div><h4 style="color: rgb(252, 116, 6);"><b>Contacto:</b></h4></div>
        <div><h6>(+502) 4818-0101</h6></div>
        <br>
        <hr id="hr_chirho">
        <div><img src="{% static 'img/profile_picture_chirho.png' %}" alt=""></div>
    </div>



{% endblock%}