{% extends  'base_chirho.html' %} 

{% load static %}

{% block body_chirho%}
<div class="text-center">
    <h1>¿Que tipo de producto deseas ofrecer?</h1>
    <br/>
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'computer_list_offer_chirho' %}">Computadoras</a>
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'gaming_list_offer_chirho' %}">Gaming</a>
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'monitor_list_offer_chirho' %}">Monitores</a>
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'notebook_list_offer_chirho' %}">Notebooks</a>
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'tv_list_offer_chirho' %}">Televisores</a>
</div>
<div id="container_chirho"></div>
{% endblock%}