{% extends  'base_chirho.html' %} 

{% load static %}

{% block body_chirho%}
<div class="text-center">
    <h1>Bienvenido a Store Chirho</h1>
    <br/>
    <h6>{{ message_chirho }}</h6>
    <br/>
    <br/>
{% if request.user.is_authenticated %}
        <h4>¿Deseas hacer una oferta?</h4>
        <br/>
        <a class="btn btn-primary" href="{% url 'create_offer_chirho' %}">Crear Oferta</a>
        <br/>
        <br/>
        <br/>
        <br/>
        <hr>
{% endif %} 
</div>

    {% include "offer_chirho/personal_list_offer_include_chirho.html" %}

{% endblock %}