{% extends 'base_chirho.html'%}

{% load static %}

{% block body_chirho%}
    <div class="container_chirho">
        <h1>Listado de ofertas de {{ post_type_label_chirho }}</h1>
        <br/>
        {% if not offers_chirho.exists %}
            No hay ofertas por desplegar
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: rgb(252, 116, 6);"><b> Autor</b></th>
                        <th style="color: rgb(252, 116, 6);"><b> Oferta</b></th>
                        <th style="color: rgb(252, 116, 6);"><b> Momento</b></th>
                    </tr>
                </thead>
                <tbody>
                {% for offer_chirho in offers_chirho %} 
                    <tr>
                        <td>
                            {{ offer_chirho.user_chirho.username }}:     
                        </td>
                        <td>
                            <a href="{% url 'detail_offer_chirho' offer_chirho.id_chirho %}">{{ offer_chirho.title_chirho }}</a>
                        </td>
                        <td>
                            {{ offer_chirho.post_moment_chirho }}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}  
            </table>
        {% endif %}    
    <div>
{% endblock%}