{% extends 'base_chirho.html'%}

{% load static %}

{% block body_chirho%}
    <style>
    .offer_photo_chirho {
        width: 500px;
        height: 500px;
    }
    </style>
        <div class="text-center">
            <div>
                <h1 style="color: #043253;"><b>{{ offer_chirho.title_chirho }} | $ {{ offer_chirho.price_chirho }}</b></h1>
            </div>
            <hr id="hr_chirho">
            <br>
            <div><h6><b style="color: rgb(252, 116, 6);">{{ offer_chirho.user_chirho }}:</b></h6></div>
            <div style="margin-left: 780px; margin-right: 780px; background-color: #ECEFF1;">
                {{ offer_chirho.post_chirho }}
            </div>
            <br>
            <div>
                {% if offer_chirho.post_picture_chirho %}
                <a href="{{ offer_chirho.post_picture_chirho.url }}">
                    <img class="offer_photo_chirho" src="{{ offer_chirho.post_picture_chirho.url }}"/>
                </a>
                {% else %}
                    No Tiene
                {% endif %}
            </div>
            <br>
            <br>
            <div><b style="color: rgb(252, 116, 6);">Contacto:</b> <a href="mailto: {{ offer_chirho.contact_chirho }}">{{ offer_chirho.contact_chirho }}</a></div>
            <hr id="hr_chirho">
            <br>
            <br>
            {% if request.user == offer_chirho.user_chirho %}
                <a class="btn btn-primary" href="{% url 'update_offer_chirho'  offer_chirho.id_chirho %}">
                    Editar
                </a>
            {% endif %}
        </div>
{% endblock%}