{% extends 'base_chirho.html'%}

{% load static %}

{% block body_chirho%}
    <style>
    .offer_photo_chirho {
        width: 500px;
        height: 500px;
    }
    </style>
        <div class="text-center">
            <div>
                <h1 style="color: #043253;"><b>{{ offers_chirho.title_chirho }} | $ {{ offers_chirho.price_chirho }}</b></h1>
            </div>
            <hr id="hr_chirho">
            <br>
            <div>
                {% if offers_chirho.post_picture_chirho %}
                <a href="{{ offers_chirho.post_picture_chirho.url }}">
                    <img class="offer_photo_chirho" src="{{ offers_chirho.post_picture_chirho.url }}"/>
                </a>
                {% else %}
                    No Tiene
                {% endif %}
            </div>
            <br>
            <br>
            <div style="margin-left: 780px; margin-right: 780px; background-color: #ECEFF1;">
                    {{ offers_chirho.post_chirho }}
            </div>
            <br>
            <br>
            <div><b>Contacto:</b> <a href="mailto: {{ offers_chirho.contact_chirho }}">{{ offers_chirho.contact_chirho }}</a></div>
            <hr id="hr_chirho">
        </div>
{% endblock%}