{% extends 'base_chirho.html'%}

{% load static %}

{% block body_chirho%}
    <style>
    .offer_photo_chirho {
        max-width: 120px;
    }
    </style>
    <div class="row d-flex">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-3">
                    Titulo: {{ offers_chirho.title_chirho }}
                </div>
                <div class="col-md-3">
                    Descripción: {{ offers_chirho.post_chirho }}
                </div>
                <div class="col-md-3">
                    Foto: 
                    {% if offers_chirho.post_picture_chirho %}
                    <a href="{{ offers_chirho.post_picture_chirho.url }}">
                        <img class="offer_photo_chirho" src="{{ offers_chirho.post_picture_chirho.url }}"/>
                    </a>
                    {% else %}
                    No Tiene
                    {% endif %}
                </div>
                <div class="col-md-3">
                    Precio: {{ offers_chirho.price_chirho }}
                </div>
            </div>
        </div>
    </div>
{% endblock%}